<div class="storiesPanel">
    <div class="story">
        <img src={{ stories[0].get('user').get('image_url') }} alt="Profile picture">
        <p>{{ stories[0].get('user').get('username') }}</p>
    </div>
    <div class="story">
        <img src={{ stories[1].get('user').get('image_url') }} alt="Profile picture">
        <p>{{ stories[1].get('user').get('username') }}</p>
    </div>
    <div class="story">
        <img src={{ stories[2].get('user').get('image_url') }} alt="Profile picture">
        <p>{{ stories[2].get('user').get('username') }}</p>
    </div>
    <div class="story">
        <img src={{ stories[3].get('user').get('image_url') }} alt="Profile picture">
        <p>{{ stories[3].get('user').get('username') }}</p>
    </div>
    <div class="story">
        <img src={{ stories[4].get('user').get('image_url') }} alt="Profile picture">
        <p>{{ stories[4].get('user').get('username') }}</p>
    </div>
</div>