<!doctype html>
<html lang="en">
<head>
    <title>Photo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/starter-client.css">

    <!-- client-side scripts -->
    <script lang="text/javascript" src="/static/js/hw04.js" defer></script>
</head>
<body>
    <!-- Nav Bar still rendered via server-side template -->
    <nav class="main-nav">
        <h1>Photo App</h1>
        <ul class="user-info">

        </ul>
    </nav>

    <aside>
        <header>
            <!-- user profile rendered client-side -->
        </header>
        <div class="suggestions">
            <p class="suggestion-text">Suggestions for you</p>
            <div>
                <!-- Suggestions rendered client-side -->
                <section id="suggestions">
                    <!----JS code populate this-->
                    
                </section>
            </div>
        </div>
    </aside>

    <main class="content">
        
        <header class="stories">
            <!-- Stories rendered client-side (done for you)-->
        </header>

        <!-- Posts -->
        <div id="posts">

        </div>

    </main>

</body>
</html>

<!--Accessibility Reflection

    1. The resource I consulted was the lecture video where we idd lab6.
    2. -There was not a lot of additional work. Just changing things to buttons and adding aria stuff
        - The most challenging part was remembering to actually add the aria tags and labels
        - Yes, because it gives multiple options for interaction. For example, one time I broke my mouse, but I was able to navigate web pages using tab-->
